* {
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #c5c5c5;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    color: #ffffff;

}

header {
    background-image: url(../img/Granito-negro.png);
    min-height: 10vh;
    justify-content: space-between;
    display: flex;
    position: relative;
    align-items: center;
    padding: 0.8em;
    color: #ffffff;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 20%;
    margin: 0px 0px 0px 8em;
    padding: 0;
}

a {
    text-decoration: none;
    color: #ffffff;
}

header div {
    display: flex;
    justify-content: space-around;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    padding: 0;
    margin-right: 4em;
    font-size: 1.2em;
    background-color: #000000;
}

nav ul li {
    margin: 1em;
}

/* ----------------------------------------------------- */

.carrousel {
    width: 100%;
    max-width: 120em;
}

.contenedor {
    width: 500%;

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    transition: all 2s ease;
}

.contenedor img {
    width: calc(100% / 5);
    min-height: 10vh;
    height: 85vh;
    object-fit: cover;
}


.contenedor-puntos {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    margin-top: -5em;
    position: relative;
}

.carrousel .puntos {
    width: 50%;
    border-radius: 50%;
    margin: .5em 0 0;
    padding: .5em;

    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

.carrousel .punto {
    width: 1em;
    height: 1em;
    margin: 1em;
    background-color: rgb(0, 0, 0);
    border-radius: 50%;
    list-style: none;

}

.carrousel .punto.activo {
    background-color: rgb(243, 243, 243);
}

/* --------------------------------------- */

.imagenes-a-catalogo {

    border-radius: 1%;
    margin-bottom: 50px;
}

.texto-seccion-2 {
    background-color: #000000;
    text-align: center;
    height: 8em;
    margin: 1em 0;
}

h2 {
    font-size: 2em;
    margin: 0;
    padding: 1em;
}

.img-catalogo {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;

}

.img-catalogo div {
    height: 70vh;
    width: 90vh;
    margin-top: 2em;
    position: relative;
    overflow: hidden;
}

.img-catalogo div:first-child {
    margin-right: 5em;
}


.img-catalogo .mueble {
    background-image: url(../galeria/img/Marmol-gris-perla/Trabajo_26/WhatsApp\ Image\ 2023-05-19\ at\ 06.36.11\ \(3\).jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    border: 1px solid black;
}

.mueble:hover::after {
    transform: translateY(0);
}


.mueble::after {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    content: "Muebles";
    font-size: 2em;
    color: #ffffff;
    background-color: #00000098;
    position: absolute;
    inset: 0;
    display: grid;
    place-items: center;

    transform: translateY(100%);
    transition: 0.3s;
}



.img-catalogo .granito {
    background-image: url(../img/Seccion-2/Granito.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    border: 1px solid black;
}

.granito:hover::after {
    transform: translateY(0);
}


.granito::after {
    font-family: 'Work Sans', sans-serif;
    font-weight: 100;
    content: "Granitos";
    font-size: 2em;
    color: #ffffff;
    background-color: #00000098;
    position: absolute;
    inset: 0;
    display: grid;
    place-items: center;

    transform: translateY(100%);
    transition: 0.3s;
}

.botones-img-catalogo {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.botones-img-catalogo a {
    font-family: 'Work Sans', sans-serif;
    text-align: center;
    font-size: 1.3em;
    padding: 0.4em;
    width: 13.2em;
    background-color: rgb(20, 20, 20);
    margin-top: 1em;
    z-index: 10;
    position: absolute;
}

.botones-img-catalogo .catalogo-1 {
    margin-left: -45em;
}

.botones-img-catalogo .trabajo-1 {
    margin-left: -17em;
}

.botones-img-catalogo .catalogo-2 {
    margin-left: 17em;
}

.botones-img-catalogo .trabajo-2 {
    margin-left: 45em;
}

footer{
    height: 25em;
    margin-top: 8em;
    background-image: url(../img/Granito-negro.png);
}

footer h3 {
    text-align: center; 
    padding: 0.5em 0em;
    font-size: 2.5em;
    margin: 0;
}

.datos-marmoleta{
    text-align: center;
 
}

.datos-de-contacto{
    display: grid;
    grid-template-columns: 1fr 1fr;
    flex-direction: column;
}
form{
    display: flex;
    flex-direction: column;
}

label{
    margin: 0;
    padding: 0;
}
input{
    height: 3em;
    width: 60%;
    margin: 0.5em;
}

input[name="comentario"]{
    height: 5em;
}

form button{
    margin: 1em 43em 0 .5em;
}