* {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #000000;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

header {
    background-image: url(../img/Granito-negro.png);
    min-height: 100px;
    justify-content: space-between;
    display: flex;
    position: relative;
    align-items: center;
    padding: 10px;
    color: #ffffff;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 90px;
    margin: 0px 0px 0px 100px;
    padding: 0;
}

a {
    text-decoration: none;
    color: #ffffff;
}

header div {
    display: flex;
    justify-content: space-around;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    padding: 0;
    margin-right: 100px;
    font-size: 20px;
    background-color: #000000;
}

nav ul li {
    margin: 10px;
}
.carrousel{
    width: 100%;
    max-width: 120em;
}
.contenedor{
    width: 500%;

    display: flex;
    flex-flow:row nowrap ;
    justify-content: space-between;
    align-items: center;
    padding: 2em;

    transition: all .5s ease;

}
.contenedor img{
    width: calc( 100% / 5 );
    min-height: 10vh;
    height: 100vh;
    
}
.carrousel .puntos{
    width: 100%;
    padding: 1em;
    margin: 1em 0 0;
    background-color: #ffffff;

    display: flex;
    flex-flow:row nowrap ;
    justify-content: center;
    align-items: center;
}
.carrousel .punto{
    width: 2em;
    height: 2em;
    margin: 1em;
    background-color: black;
}

.carrousel .punto.activo{
    background-color: aqua;
}
