* {
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #c5c5c5;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    color: #ffffff;

}

header {
    background-image: url(../../img/Granito-negro.png);
    min-height: 10vh;
    justify-content: space-between;
    display: flex;
    position: relative;
    align-items: center;
    padding: 0.8em;
    color: #ffffff;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 20%;
    margin: 0px 0px 0px 5em;
    padding: 0;
}

a {
    text-decoration: none;
    color: #ffffff;
}

header div {
    display: flex;
    justify-content: space-around;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    padding: 0;
    margin-right: 4em;
    font-size: 1.2em;
    background-color: #000000;
}

nav ul li {
    margin: 1em;
}

.contenedor-img {
    display: flex;
    height: 320px;
    padding-left: 0px;
    overflow: hidden;
    scroll-behavior: smooth;
}